.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
}

.card {
  margin: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  font-size: 1rem;
  margin-bottom: 15px;
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
}

.btn:hover {
  background-color: #0056b3;
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  padding-left: 3px;
}
